<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833820429264-gggk858srkg2195q1chnagbhbutq4vdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833820429264-gggk858srkg2195q1chnagbhbutq4vdi</string>
	<key>API_KEY</key>
	<string>AIzaSyAuxlbao2RirWLHEyFPzDD5ac793JZyiiE</string>
	<key>GCM_SENDER_ID</key>
	<string>833820429264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.halalapp</string>
	<key>PROJECT_ID</key>
	<string>halalmaps-c7560</string>
	<key>STORAGE_BUCKET</key>
	<string>halalmaps-c7560.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833820429264:ios:04b7b93c1e47dc6eff47d5</string>
</dict>
</plist>